@{
    Layout = "_Layout";
}
<section class="section my-3">

    <div class="fiks col py-3 px-2 mx-2 rounded my-2">
        <h3 class="text-center text-white">Sıkca Sorulan Sorular</h3>
        <ul class="text-white text-center my-1 medium">
            <li>Soru1</li>
            <li>Soru2</li>
            <li>Soru3</li>
            <li>Soru4</li>
            <li>Soru5</li>
            <li>Soru6</li>
            <li>Soru7</li>
            <li>Soru8</li>
            <li>Soru9</li>
            <li>Soru10</li>
            <li>Soru11</li>
            <li>Soru12</li>
            <li>Soru13</li>
            <li>Soru14</li>
            <li>Soru15</li>
            <li>Soru16</li>
            <li>Soru17</li>
            <li>Soru18</li>
            <li>Soru19</li>
            <li>Soru20</li>
            <li>Soru21</li>
        </ul>
    </div>
</section>