<section class="section my-3">
    <div class="ust row">

        <div class="fiks col py-3 px-2 mx-2 rounded my-2">
            <h3 class="text-center text-white">Fikstürler</h3>
            <ul class="text-white text-center my-1 small">
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
                <li>Galatasaray 0 - 1 Beşiktaş</li>
            </ul>
        </div>
        <div class="canli col py-3 px-2 mx-2 rounded my-2">
            <h3 class="text-center text-white ">Canlı</h3>
            <ul class="text-center my-3 small">
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
                <li><a href="#">Galatasaray-Beşiktaş</a></li>
            </ul>
        </div>
    </div>
</section>