@{
    Layout = "_Layout";
}
<section class="section my-3">
    <div class="row">

        <div class="text col p-4 my-5 text-center text-white rounded">
            <h3>Hakkımızda</h3>
            <p>
                Lorem ipsum dolor sit amet. Id tempora obcaecati cum dolorem omnis est excepturi debitis ea
                mollitia nulla! Qui doloremque voluptates et quam tenetur sed ullam numquam et incidunt
                facilis aut exercitationem voluptas eum repellat deleniti. Non repellendus omnis ut ipsam
                amet et dolorem reprehenderit qui doloribus galisum rem dolorem sunt.
                Lorem ipsum dolor sit amet. Id tempora obcaecati cum dolorem omnis est excepturi debitis ea
                mollitia nulla! Qui doloremque voluptates et quam tenetur sed ullam numquam et incidunt
                facilis aut exercitationem voluptas eum repellat deleniti. Non repellendus omnis ut ipsam
                amet et dolorem reprehenderit qui doloribus galisum rem dolorem sunt.
                Lorem ipsum dolor sit amet. Id tempora obcaecati cum dolorem omnis est excepturi debitis ea
                mollitia nulla! Qui doloremque voluptates et quam tenetur sed ullam numquam et incidunt
                facilis aut exercitationem voluptas eum repellat deleniti. Non repellendus omnis ut ipsam
                amet et dolorem reprehenderit qui doloribus galisum rem dolorem sunt.
                Lorem ipsum dolor sit amet. Id tempora obcaecati cum dolorem omnis est excepturi debitis ea
                mollitia nulla! Qui doloremque voluptates et quam tenetur sed ullam numquam et incidunt
                facilis aut exercitationem voluptas eum repellat deleniti. Non repellendus omnis ut ipsam
                amet et dolorem reprehenderit qui doloribus galisum rem dolorem sunt.
                Lorem ipsum dolor sit amet. Id tempora obcaecati cum dolorem omnis est excepturi debitis ea
                mollitia nulla! Qui doloremque voluptates et quam tenetur sed ullam numquam et incidunt
                facilis aut exercitationem voluptas eum repellat deleniti. Non repellendus omnis ut ipsam
                amet et dolorem reprehenderit qui doloribus galisum rem dolorem sunt.
                Lorem ipsum dolor sit amet. Id tempora obcaecati cum dolorem omnis est excepturi debitis ea
                mollitia nulla! Qui doloremque voluptates et quam tenetur sed ullam numquam et incidunt
                facilis aut exercitationem voluptas eum repellat deleniti. Non repellendus omnis ut ipsam
                amet et dolorem reprehenderit qui doloribus galisum rem dolorem sunt.

            </p>
        </div>
    </div>
</section>